@import 'http://js.arcgis.com/3.13/esri/css/esri.css';

html, body
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

#mapDiv
  width: 100%;
  height: 100%;

#searchDiv
  display: block;
  position: absolute;
  z-index: 2;
  top: 20px;
  left: 74px;
